{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "quotes": "off",
    "@typescript-eslint/quotes": ["error", "single", { "avoidEscape": true }]
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": false,
    "node": true
  }
}
